@import '_colors.less';

.type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 33.33333333%;
  height: 80%;
  padding: 10px;
  margin-right: 10px;
  background-color: @sec-color;
  border-radius: 10px;
  overflow: auto;
}