.type-item {
  width: 70px;
  height: 40px;
  margin: 8px;
  background-color: #FFF;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  font-family: helvetica;
}
@media (min-width: 992px) {
  .type-item {
    width: 80px;
    font-size: 16px;
    margin: 10px;
  }
  .scroll-text {
    display: none;
  }
}
